<div id="world-news">
  <div class="content">
    <div class="world-news-row">
      <div>
        <div>
          <div class="category-holder">
            <a href="/category/international/?limit=14" class="category-name">International</a>
          </div>
          <a href="/post/slug/<%= international[0].slug %>" class="news-card left-border">
            <img src="<%= international[0].post_thumbnail.split("/").slice(1).join("/360-") %>" alt="/images/alt.png" loading="lazy" />
            <div class="card-title">
              <p class="a article-title">
                <%= international[0].post_title %>
              </p>
            </div>
            <div class="card-desc">
              <p class="article-desc">
                <%= international[0].post_description %>
              </p>
            </div>
          </a>
        </div>
      </div>

      <div>
        <% for(let i = 1; i <= 2; ++i) { %>
        <a href="/post/slug/<%= international[i].slug %>" class="news-card left-border">
          <div class="card-title">
            <p class="a article-title">
              <%= international[i].post_title %>
            </p>
          </div>
          <div class="card-desc">
            <p class="article-desc">
              <%= international[i].post_description %>
            </p>
          </div>
        </a>
        <% } %>
      </div>
    </div>

    <div class="world-news-row">
      <div>
        <% for(let i = 3; i <= 4; ++i) { %>
          <a href="/post/slug/<%= international[i].slug %>" class="news-card left-border">
            <div class="card-title">
              <p class="a article-title">
                <%= international[i].post_title %>
              </p>
            </div>
            <div class="card-desc">
              <p class="article-desc">
                <%= international[i].post_description %>
              </p>
            </div>
          </a>
          <% } %>
      </div>

      <div>
        <a href="/post/slug/<%= international[5].slug %>" class="news-card left-border">
          <img src="<%= international[5].post_thumbnail.split("/").slice(1).join("/360-") %>" alt="/images/alt.png" loading="lazy" />
          <div class="card-title">
            <p class="a article-title">
              <%= international[5].post_title %>
            </p>
          </div>
          <div class="card-desc">
            <p class="article-desc">
              <%= international[5].post_description %>
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>