<div id="top-news">
  <div class="attention-post">
    <a href="/post/slug/<%= hero.slug %>">
      <div class="big-image img-card">
        <img src="<%= hero.post_thumbnail.split("/").slice(1).join("/780-") %>"
        alt="/images/alt.png" loading="lazy" />
        <div class="img-title">
          <div class="post-title"><%= hero.post_title %></div>
        </div>
        <p class="post-desc"><%= hero.post_description %></p>
      </div>
    </a>
  </div>

  <div class="top-stories">
    <a href="" class="category-name">Top Stories</a>
    <ul class="post-list">
      <% topnew.forEach(e=> { %>
      <li class="link-item">
        <a href="/post/slug/<%= e.slug %>"> <%= e.post_title %> </a>
      </li>
      <% }); %>
    </ul>
  </div>
</div>
