<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../head/head', {link: "/style/css/category-page.css" }); %>
  </head>

  <body id="<%=category._id%>">
    <!-- ---------- HEADER------------------------ -->
    <%- include('../post/minimizedHeader/minimizedHeader',
    {btn_label:"Subscribe"}); %>
    <!--  -->
    <%- include('../modal-popup/sidenav'); %>
    <!-- ----------- Article -------------------- -->
    <div class="container">
      <%- include('highlights') %> <%- include('listpost') %>
    </div>
    <!--  -->
    <%- include('../modal-popup/modal', {title: "",
    formHtml:'../modal-popup/subscribe_form', parameters: {}});%>
    <!-- ------------- FOOTER ------------------- -->
    <%- include('../footer/footer'); %>

    <!-- SCripts -->
    <script src="/js/sidenav.js"></script>
    <script src="/js/search_btn.js"></script>
    <script src="/js/recommendation.js"></script>
    <script src="/js/post-list.js"></script>
    <script src="/js/sendRequest.js"></script>
    <script src="/js/subscribe_form.js"></script>
    <script src="/js/category-page.js"></script>
  </body>
</html>
