<div id="highlight">
  <header>
    <p>Category</p>
    <h1><%= category.category_name %></h1>
  </header>

  <div class="highlight-container">
    <div class="left">
      <%- include('highlight_card', {post: posts[0] }); %> <%-
      include('highlight_card', {post: posts[1] }); %>
    </div>

    <div class="right">
      <%- include('highlight_card', {post: posts[2] }); %> <%-
      include('highlight_card', {post: posts[3] }); %>
    </div>
  </div>
</div>
