<main id="site-content" class="wrapper">
  <!-- COVER PAGE -->
  <div id="cover-page" class="container grid-8-2">
    <!-- BIGGEST ARTICLE -->
    <div>
      <!-- TOP NEWS -->
      <%- include('topNews/topNews', {hero: hero, topnew: topnew }); %>
      <hr />

      <!-- LIFE STYLES NEWS -->
      <%- include('lifeStyleNews/lifeStyleNews', {lifestyle: lifestyle }); %>
    </div>

    <aside id="sidebar">
      <%- include('breakFastNews/breakFastNews'); %>

      <form action="" class="subscribe-form">
        <label for="email-input"
          >Get the Breakfast News delivered to your mail box daily!</label
        >
        <input
          type="email"
          placeholder="Enter your email"
          name="side-email-input"
          data-side-email
        />
        <button type="submit">Sign Up</button>
      </form>

      <%- include('trending/trending'); %>
    </aside>
  </div>
  <hr />

  <!-- WORLD - EDUCATION - SPORT NEWS -->
  <div id="w-e-s-news" class="container">
    <!-- WORLD NEWS -->
    <%- include('worldNews/worldNews', {international: international }); %>

    <!-- EDUCATION NEWS -->
    <%- include('eduNews/eduNews', {education: education }); %>

    <!-- SPORT NEWS -->
    <%- include('sportNews/sportNews', {sport: sport }); %>
  </div>
  <hr />

  <!-- FEATURES NEWS -->
  <%- include('featuresNews/featuresNews', {features: features }); %>
  <hr />

  <!-- POLITICS -->
  <%- include('politicsNews/politicsNews', {politics: politics }); %>
</main>
