<main id="site-content" class="wrapper">
  <!-- COVER PAGE -->
  <div id="cover-page" class="container grid-8-2">
    <!-- BIGGEST ARTICLE -->
    <div>
      <!-- TOP NEWS -->
      <%- include('topNews/topNews'); %>
      <hr />
  
      <!-- LIFE STYLES NEWS -->
      <%- include('lifeStyleNews/lifeStyleNews'); %>
    </div>
  
    <%- include('sideBar/sideBar'); %>
  </div>
  <hr />

  <!-- WORLD - EDUCATION - SPORT NEWS -->
  <div id="w-e-s-news" class="container">
    <!-- WORLD NEWS -->
    <%- include('worldNews/worldNews'); %>
  
    <!-- EDUCATION NEWS -->
    <%- include('eduNews/eduNews'); %>
  
    <!-- SPORT NEWS -->
    <%- include('sportNews/sportNews'); %>
  </div>  
  <hr />

  <!-- FEATURES NEWS -->
  <%- include('featuresNews/featuresNews'); %>
  <hr />

  <!-- POLITICS -->
  <%- include('politicsNews/politicsNews'); %>
</main>
