<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../head/head', {link: link }); %>
    <link rel="stylesheet" href="style/css/glider.min.css" />
  </head>
  <body>
    <!-- ---------- HEADER------------------------ -->
    <%- include('header/header', {list_category: list_category }); %> <%- include('../modal-popup/sidenav'); %>
    <!-- ----------- Article -------------------- -->
    <%- include('siteContent/siteContent'); %>

    <!-- ------------- FOOTER ------------------- -->
    <%- include('../footer/footer'); %>

    <!-- SCripts -->
    <script src="js/glider.min.js"></script>
    <script src="js/search_btn.js"></script>
    <script src="js/sidenav.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
