<!DOCTYPE html>
<html lang="en">
  <head>
<<<<<<< HEAD
    <%- include('../head/head'); %>
=======
    <%- include('../head/head', {link: "style/style.css"}); %>
>>>>>>> 37ef47623312a411bfcb00866618b2efc211824e
  </head>
  <body>
    <!-- ---------- HEADER------------------------ -->
    <%- include('header/header'); %>

    <!-- ----------- Article -------------------- -->
    <%- include('siteContent/siteContent'); %>

    <!-- ------------- FOOTER ------------------- -->
<<<<<<< HEAD
    <%- include('footer/footer'); %>
=======
    <%- include('../footer/footer'); %>
>>>>>>> 37ef47623312a411bfcb00866618b2efc211824e
  </body>
</html>
